<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-body">
            <%= data[:total] %>
        </div>
        <div class="panel-footer">
            Сегодня можно потратить
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-body">
            <%= data[:total_spend] %>
        </div>
        <div class="panel-footer">
            Сегодня потрачено
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-body">
            <%= data[:balance] %>
        </div>
        <div class="panel-footer">
            Получилось сэкономить
        </div>
    </div>
</div>
