<div class="col-md-3">
  <div class="list-group">
    <% @accounts.each do |item| %>
    <a href="#" class="list-group-item"><span class="badge"><%= item.value %></span><%= item.name %></a>
    <% end %>
  </div>
</div>