<ol class="breadcrumb">
  <li><%= link_to 'Главная', home_index_url %></li>
  <li><%= link_to 'Список тегов', tags_url %></li>
  <li class="active">Редактирование тега</li>
</ol>

<%= render 'form' %>
