@import "bourbon";
@import "neat";
@import "neat-helpers";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require themes/default.css
 *= require themes/default.date
 */

@import "var";

@import "forms";

@import "sessions";

@include reset-all;

* {
  font-family: "Roboto", sans-serif !important;
}

.container {
  @include outer-container;
}
.row {
  @include row();
  @include margin(null null 1em null);
}
.content_block {
  background: #ffffff;
  border: 1px solid $base-border-color;
  box-shadow: 0 2px 4px darken($base-background-color, 10);
  border-radius: $base-border-radius;
}