// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login_box {
  @include span-columns(8);
  @include shift(2);

  .header {
    @include span-columns(8 of 8);
    border-bottom: 1px solid $base-border-color;
    @include pad();
    font-size: $base-font-size + 5;
  }
  .content {
    @include span-columns(8 of 8);
    @include pad();
  }
}
input[type="submit"] {
  float: right;
}