<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">Всреднем за месяц: <%= @result[:average] %></div>
      </div>
    </div>
  </div>
</div>