<div class="row">
  <form method="get">
    <div class="col-md-3">
      <%= date_field_tag 'date_s' %>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <button class="btn btn-primary">Сформировать</button>
    </div>
  </form>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table-condensed table-condensed">
      <thead>
      <tr>
        <th>Описание</th>
        <th>Сумма</th>
      </tr>
      </thead>
      <tbody>
      <% @operations.each do |item| %>
        <%
           case item.type
             when 0
               style = 'danger'
             when 1
               style = 'success'
             when 2
               style = 'warning'
             else
               style = 'notice'
           end
        %>
      <tr class="<%= style %>">
        <td><%= item.description %></td>
        <td><%= item.value %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>